{% extends 'base.html' %}
{% load static %}

{% block title %}
    Contact Page
{% endblock title %}
{% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/contact.css' %}">
{% endblock extrahead %}

{% block content %}
    <p>Contact me at:</p>
<h10><p>...</p></h10>
<h7><p>My email address: adam.umar357@gmail.com</p></h7>
<h8><p>My Instagram: @adamxocopy OR @adamumarcopy</p></h8>
<h11><p>Also see:</p></h11>
<h9><p>My GitHub: https://github.com/MAdamUmar</p></h9>
{% endblock content %}
